*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
}

.colorRojo{
    color: red;
}

/*Red Green Blue*/
.colorRGB{
    color: rgb(93, 113, 218);
}

/*Red Green Blue and Opacity*/
.colorRGBA{
    color: rgba(93, 217, 94, 0.6);
}

/*Son los colores que se le piden al diseñador*/
.colorHEX{
    color: #EE43E3;
}

/*En esta ocasión las siglas no son colores, sino parámetros: Hue (tono), Saturation (saturacion) y Lightness (luminosidad).*/
.colorHSL{
    color: hsl(30, 68%, 31%);
}
